<a href="https://colab.research.google.com/github/xuhu357/DataAnalysis/blob/master/ch06_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%A1%9C%EB%94%A9_%EC%A0%80%EC%9E%A5_%ED%8C%8C%EC%9D%BC%ED%98%95%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 로딩, 저장, 파일 형식

pandas에서 제공하는 파일 파싱 함수
* read_csv: 파일, URL, 또는 파일과 유사한 객체로부터 구분된 데이터를 읽어온다. 데이터 구분자는 ,로 한다.
* read_table: 위의 함수와 비슷하나, 구분자는 \t 이다.
* read_fwf: 고정폭 칼럼 형식에서 데이터를 읽어온다.
* read_clipboard: 클립보드에 있는 데이터를 읽어오는 read_table함수, 웹페이지에서 표를 긁어올때 유용.

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving csv_mindex.csv to csv_mindex.csv
Saving ex1.csv to ex1.csv
Saving ex1.xlsx to ex1.xlsx
Saving ex2.csv to ex2.csv
Saving ex3.csv to ex3.csv
Saving ex3.txt to ex3.txt
Saving ex4.csv to ex4.csv
Saving ex5.csv to ex5.csv
Saving ex6.csv to ex6.csv
Saving ex7.csv to ex7.csv
Saving example.json to example.json
User uploaded file "csv_mindex.csv" with length 111 bytes
User uploaded file "ex1.csv" with length 58 bytes
User uploaded file "ex1.xlsx" with length 5529 bytes
User uploaded file "ex2.csv" with length 42 bytes
User uploaded file "ex3.csv" with length 169 bytes
User uploaded file "ex3.txt" with length 170 bytes
User uploaded file "ex4.csv" with length 163 bytes
User uploaded file "ex5.csv" with length 78 bytes
User uploaded file "ex6.csv" with length 626863 bytes
User uploaded file "ex7.csv" with length 40 bytes
User uploaded file "example.json" with length 81 bytes

In [0]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [0]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [0]:
df = pd.read_csv('ex1.csv')

In [0]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [0]:
pd.read_table('ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [0]:
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [0]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [0]:
pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [0]:
names = ['a', 'b', 'c', 'd', 'message']

In [0]:
pd.read_csv('ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [0]:
pd.read_csv('ex1.csv', index_col=['a', 'b'])

       c   d message
a b
1 2    3   4   hello
5 6    7   8   world
9 10  11  12     foo

In [0]:
pd.read_csv('csv_mindex.csv', index_col=['key1', 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [0]:
!cat ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [0]:
pd.read_table('ex3.txt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [0]:
!cat ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [0]:
pd.read_csv('ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [0]:
!cat ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [0]:
result = pd.read_csv('ex5.csv')

In [0]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [0]:
result.isnull()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

na_values 옵션은 리스트나 문자열 집합을 받아서 누락된 값을 처리한다.

In [0]:
result = pd.read_csv('ex5.csv', na_values=['NULL'])

In [0]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

각 칼럼마다 다른 NA 문자를 사전 값으로 넘겨 처리할 수도 있다.

In [0]:
sentinels = {'message': ['foo', 'NA'], 'something':['two']}

In [0]:
pd.read_csv('ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

결과에서 보다 싶이, something 칼럼에서는 two라는 값을 NaN로 취급하고, message 칼럼에서는 'foo' 란 값 혹은 'NA' 값을 NaN으로 취급한다는 말이다.

**read_csv / read_table 함수 인자**

* path: 파일 시스템에서의 위치, URL, 파일 객체를 나타내는 문자열.
* sep or delimiter : 필드를 구분하기 위해 사용할 연속된 문자나 정규 표현식.
* header: 칼럼의 이름으로 사용할 로우의 번호, 기본값은 0. 없으면, None으로 지정 가능
* index_col: 색인으로 사용할 칼럼 번호나 이름, 계층적 색인을 지정할 경우 리스트를 넘김.
* names: 칼럼 이름으로 사용할 리스트, header = None과 함께 사용.
* skiprows: 파일의 시작부터 무시할 로우의 개수 또는 무시할 로우 번호가 담긴 리스트
* na_values: NA 값으로 처리할 값들의 나열
* comment: 주석으로 분류되어 파싱하지 않을 문자 혹은 문자열.
* parse_dates: 날짜를 datetime으로 변환 할 지 여부. 기본값은 False.
* keep_date_col: 여러 칼럼을 datetime으로 변환 했을 경우, 원래 칼럼을 남겨둘지의 여부, 기본 값은 False.
* converters: 변환시 칼럼에 적용할 함수를 지정. 예를 들어 {'foo': f}는 foo칼럼에 함수 f를 적용한다는 말.
* dayfirst: 모호한 날짜 형식인 경우, 날짜 우선인지, month 우선인지 지정, 기본값은 False
* date_parser: 날짜 변환시 사용할 함수
* nrows: 파일의 첫 일부만 읽어올 때, 처음 몇줄을 읽을 것인지 지정.
* iterator: 파일을 조금씩 읽을 때, 사용하도록, TextParser객체를 반환하도록 한다. 기본 값은 False.
* chunksize:TextParser 객체에서 사용 할, 한번에 읽을 파일의 크기
* skip_footer: 무시할 파일의 마지막 줄 수
* verbose: 파싱 결과에 대한 정보를 출력한다. 숫자가 아닌 값이들어있는 칼럼이면서 누락된 값이 있다면, 줄 번호를 출력. 기본값은 False이다. 
* encoding: 유니코드 인코딩 종류 지정. UTF-8이면, 'utf-8'로 지정.
* squeeze: 로우가 하나뿐이라면, Series 객체를 반환, 기본 값은 false
* thousands: 숫자를 천단위로 끊을 때, 사용할 ' , ' 나, ' . ' 같은 구분자

### 텍스트 조금씩 읽어오기

In [0]:
!ls

csv_mindex.csv	ex1.xlsx  ex3.csv  ex4.csv  ex6.csv  example.json
ex1.csv		ex2.csv   ex3.txt  ex5.csv  ex7.csv  sample_data

In [0]:
result = pd.read_csv('ex6.csv')

In [0]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
one      10000 non-null float64
two      10000 non-null float64
three    10000 non-null float64
four     10000 non-null float64
key      10000 non-null object
dtypes: float64(4), object(1)
memory usage: 390.7+ KB

In [0]:
pd.read_csv('ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [0]:
chunker = pd.read_csv('ex6.csv', chunksize=1000)

In [0]:
chunker

In [0]:
tot = pd.Series([])
for piece in chunker:
  tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [0]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

#### 데이터를 텍스트 형식으로 기록하기

In [0]:
data = pd.read_csv('ex5.csv')

In [0]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [0]:
data.to_csv('out.csv', sep='|')

In [0]:
!cat out.csv

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

만약 결과에서 누락된 값은 비어있는 문자열로 나타나는데, 이것 역시 원하는 값으로 지정가능

In [0]:
data.to_csv('out.csv', na_rep='NULL')

In [0]:
!cat out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

만약, row와 column의 정보를 생략하고 싶다면, 이것 역시 가능

In [0]:
data.to_csv('out.csv', index=False, header=False)

In [0]:
!cat out.csv

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

column의 일부만 역시 가능

In [0]:
data.to_csv('out.csv', index=False, columns=['a', 'b', 'c'])

In [0]:
!cat out.csv

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series도 to_csv 메소드가 있다.

In [0]:
dates = pd.date_range('1/1/2000', periods=7)

In [0]:
import numpy as np
ts = pd.Series(np.arange(7), index=dates)

In [0]:
ts.to_csv('tseries.csv')

In [0]:
!cat tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [0]:
pd.Series.from_csv('tseries.csv', parse_dates=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:2890: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  infer_datetime_format=infer_datetime_format)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

In [0]:
pd.Series.from_csv('tseries.csv')

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:2890: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  infer_datetime_format=infer_datetime_format)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

#### 수동으로 구분 형식 처리하기

In [0]:
!cat ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

고정된 형식이 아니다.

In [0]:
import csv

f = open('ex7.csv')

reader = csv.reader(f)

for line in reader:
  print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [0]:
lines =  list(csv.reader(open('ex7.csv')))

In [0]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

In [0]:
header, values = lines[0], lines[1:]

In [0]:
header

['a', 'b', 'c']

In [0]:
values

[['1', '2', '3'], ['1', '2', '3', '4']]

In [0]:
data_dict = {h:v for h, v in zip(header, zip(*values)) }

In [0]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

#### JSON 데이터

In [0]:
obj = """
{
  "name": "Wes",
  "place lived": ["United States", "Spain", "Germany"],
  "pet": null, 
  "siblings": [
    {
      "name": "Scott", "age": 25, "pet": "Zuko"
    },
    {
      "name": "Katie", "age": 33, "pet": "Cisco"
    }
  ]
}
"""

In [0]:
import json

In [0]:
result = json.loads(obj)

In [4]:
result

{'name': 'Wes',
 'pet': None,
 'place lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [0]:
import pandas as pd

siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [6]:
siblings

    name  age
0  Scott   25
1  Katie   33

#### XML 과 HTML: 웹 내용 긁어오기

파이썬에는 HTML과 XML 형식의 데이터를 읽고 쓰는 라이브러리가 많다.

lxml은 아주 큰 팡링르 빠르게 처리할수 있는 라이브러리로, 여러 종류의 interface 제공

lxml.html 처리방식과 lxml.objectify를 이용해서 xml을 처리하는 방법을 보자.

In [0]:
import requests

from lxml.html import parse
from io import StringIO

In [0]:
text = requests.get('http://finance.yahoo.com/q/op?s=AAPL+Options').text

In [0]:
parsed = parse(StringIO(text))

In [0]:
doc = parsed.getroot()

In [11]:
doc

In [0]:
links = doc.findall('.//a')

In [14]:
links[15:20]

[<Element a at 0x7efe27d62d68>,
 <Element a at 0x7efe27d62db8>,
 <Element a at 0x7efe27d62e08>,
 <Element a at 0x7efe27d62e58>,
 <Element a at 0x7efe27d62ea8>]

In [0]:
lnk = links[27]

In [16]:
lnk

In [17]:
lnk.get('href')

'/quote/AAPL190104C00128000?p=AAPL190104C00128000'

In [18]:
lnk.text_content()

'AAPL190104C00128000'

In [0]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [20]:
urls[-10:]

['http://yahoofinance.tumblr.com',
 '/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/calendar',
 '/industries',
 '/videos',
 '/personal-finance',
 '/tech']

In [0]:
tables =  doc.findall('.//table')

In [22]:
tables

In [0]:
calls = tables[0]

In [0]:
puts = tables[1]

In [0]:
rows = calls.findall('.//tr')

In [0]:
def _unpack(row, kind='td'):
  elts = row.findall('.//%s' % kind)
  return [val.text_content().strip().split('\n')[0] for val in elts]

In [31]:
_unpack(rows[0], kind='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [32]:
_unpack(rows[2], kind='td')

['AAPL190104C00115000',
 '2018-12-27 12:50PM EST',
 '115.00',
 '36.59',
 '40.75',
 '44.30',
 '0.00',
 '-',
 '6',
 '5',
 '231.15%']

In [0]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
  rows = table.findall('.//tr')
  header = _unpack(rows[0], kind='th')
  data = [_unpack(r) for r in rows[1:]]
  return TextParser(data, names=header).get_chunk()

In [0]:
call_data = parse_options_data(calls)

In [0]:
put_data = parse_options_data(puts)

In [36]:
call_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL190104C00100000,2018-12-28 9:50AM EST,100.0,56.25,57.50,59.70,0.0,-,4,5,266.99%
1,AAPL190104C00115000,2018-12-27 12:50PM EST,115.0,36.59,40.75,44.30,0.0,-,6,5,231.15%
2,AAPL190104C00120000,2018-12-28 9:39AM EST,120.0,35.45,35.75,39.80,0.0,-,2,3,225.05%
3,AAPL190104C00123000,2018-12-28 10:18AM EST,123.0,33.25,32.70,36.85,0.0,-,1,1,211.52%
4,AAPL190104C00125000,2018-12-28 3:19PM EST,125.0,32.06,30.80,34.80,0.0,-,1,4,199.85%
5,AAPL190104C00126000,2018-12-28 11:53PM EST,126.0,24.60,28.35,31.60,0.0,-,10,10,0.00%
6,AAPL190104C00127000,2018-12-26 1:27PM EST,127.0,24.85,28.80,32.85,0.0,-,3,3,191.50%
7,AAPL190104C00128000,2018-12-26 11:06AM EST,128.0,20.45,27.80,31.75,0.0,-,1,11,183.50%
8,AAPL190104C00129000,2018-12-28 10:39AM EST,129.0,26.30,26.80,30.50,0.0,-,2,1,170.80%
9,AAPL190104C00130000,2018-12-28 3:37PM EST,130.0,26.65,27.20,28.80,0.0,-,63,134,96.29%

In [37]:
put_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL190104P00100000,2018-12-31 3:01PM EST,100.0,0.01,0.0,0.01,-0.02,-66.67%,6,"5,555",140.63%
1,AAPL190104P00105000,2018-12-28 2:51PM EST,105.0,0.01,0.0,0.01,0.00,-,200,"1,462",125.00%
2,AAPL190104P00110000,2018-12-27 3:41PM EST,110.0,0.04,0.0,0.01,0.00,-,716,"1,166",112.50%
3,AAPL190104P00115000,2018-12-31 9:42AM EST,115.0,0.01,0.0,0.01,-0.01,-50.00%,10,590,100.00%
4,AAPL190104P00120000,2018-12-31 12:57PM EST,120.0,0.01,0.0,0.01,-0.02,-66.67%,17,970,87.50%
5,AAPL190104P00121000,2018-12-28 3:30PM EST,121.0,0.03,0.0,0.01,0.00,-,129,129,84.38%
6,AAPL190104P00122000,2018-12-28 2:48PM EST,122.0,0.03,0.0,0.01,0.00,-,35,35,81.25%
7,AAPL190104P00123000,2018-12-28 10:44AM EST,123.0,0.07,0.0,0.02,0.00,-,18,18,85.94%
8,AAPL190104P00124000,2018-12-31 11:23AM EST,124.0,0.01,0.0,0.02,-0.06,-85.71%,"2,020",2,82.81%
9,AAPL190104P00125000,2018-12-31 3:51PM EST,125.0,0.01,0.0,0.01,-0.03,-75.00%,384,"1,331",75.00%