<a href="https://colab.research.google.com/github/xuhu357/DataAnalysis/blob/master/pandas_to_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from pandas import DataFrame, Series

In [0]:
df = DataFrame({'day_hour': ['2018-08-23 0', '2018-08-23 0', '2018-08-23 1', '2018-08-23 1', '2018-08-23 2'],
               'freq': [2, 1, 10, 5, 3],
               'keyword': ['keyword1', 'keyword2', 'keyword1', 'keyword3', 'keyword4'], 
                'related_word': [
                    ['r11', 'r12', 'r13'], 
                    ['r21', 'r22'], 
                    ['r31', 'r32', 'r33'], 
                    [], 
                    ['r51', 'r52']]
               })

In [37]:
df

       day_hour  freq   keyword     related_word
0  2018-08-23 0     2  keyword1  [r11, r12, r13]
1  2018-08-23 0     1  keyword2       [r21, r22]
2  2018-08-23 1    10  keyword1  [r31, r32, r33]
3  2018-08-23 1     5  keyword3               []
4  2018-08-23 2     3  keyword4       [r51, r52]

In [39]:
result = []
for dh in df.day_hour.unique():
  rows = df[df.day_hour == dh]
  keywords = rows[['freq', 'keyword', 'related_word']]
#   print('day_hour: ', dh)
#   print(keywords)
  result.append([dh, keywords])
  

tmp_df = DataFrame(data=result, columns= ['day_hour', 'keywords'])
# print('tmp_df')
# print(tmp_df)

tmp_df.to_json(orient='records')

'[{"day_hour":"2018-08-23 0","keywords":[{"freq":2,"keyword":"keyword1","related_word":["r11","r12","r13"]},{"freq":1,"keyword":"keyword2","related_word":["r21","r22"]}]},{"day_hour":"2018-08-23 1","keywords":[{"freq":10,"keyword":"keyword1","related_word":["r31","r32","r33"]},{"freq":5,"keyword":"keyword3","related_word":[]}]},{"day_hour":"2018-08-23 2","keywords":[{"freq":3,"keyword":"keyword4","related_word":["r51","r52"]}]}]'